#left-side-menu-content {
    background-color: #f6f6f8;
    transition: transform 0.3s ease-in-out;
}

#how-to-play-modal {
    background-color: rgba(20, 20, 20, 0.4);
}

.dark #left-side-menu-content {
    background-color: #101622;
}


.menu-hidden {
    transform: translateX(-100%);
}
