body {
    font-family: 'Work Sans', sans-serif;
}

#game-grid {
    container-type: inline-size;
}

.word-button {
    font-size: clamp(0.75rem, 8cqi, 1rem);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
